@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}


// * {
//   box-sizing: border-box;
// }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $background-color;
  color: $body-text-color;


}

nav-top {

    @include large {
    max-width: 100rem;
    padding: 2rem 4rem 1rem;
    margin: 0 auto;
    font-size: 18px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 3rem;
    color: $body-text-color;
}



.nav-top-link {
    color: $body-text-color;
    // text-decoration: none;
    //margin: 0 1rem;
    padding: 1.6rem;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        text-decoration: underline;
        color: $purple-color;
    }
  }

.nav-top-link.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }

.img-name {
    width: 100%;
    height: 18px;
    object-fit: cover;
    padding: 0 0.8rem;
  }

intro {
  @include large {
    max-width: 90rem;
    min-width: 50rem;
    font-size: $body-font-size;
    //padding: 1rem 4rem;
    padding-right: 4rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    color: $body-text-color;
}

.intro-text {
  text-align: left;
  text-wrap: pretty;
}

.intro-heading {
  text-align: left;
  font-size: $intro-header-text-size;
  font-weight: bold;
  line-height: 1.5;
  background: linear-gradient(20deg, $card-title-color, $accent-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.img-headshot {
  width: 32rem;
  //height: 16vw;
  object-fit: cover;
  padding-left: 3rem;
  //padding-right: 1.8rem;
  //padding-right: 5.8rem;
  //align-self: right;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}



#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}


.grid {
    margin: 0rem 0;
    display: grid;
    gap: 2rem;
    grid-auto-rows: 1fr;
  }
  
  .grid svg {
    overflow: visible;
  }
  
  .grid figure {
    margin: 0;
  }
  
  .grid > * > p:first-child {
    margin-top: 0;
  }
  
  .grid > * > p:last-child {
    margin-bottom: 0;
  }

  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 5fr));
  }

//   @container (min-width: 720px) {
//     .grid-cols-3 {
//       grid-template-columns: repeat(3, minmax(0, 1fr));
//     }
//     .grid-cols-3 .grid-colspan-2 {
//       grid-column: span 2;
//     }
//     .grid-cols-3 .grid-colspan-3 {
//         grid-column: span 3;
//       }
    
//   }
  
  @container (min-width: 1080px) {
    .grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .grid-cols-4 .grid-colspan-3 {
      grid-column: span 3;
    }
    .grid-cols-4 .grid-colspan-4 {
      grid-column: span 4;
    }
  }
  
  .grid-rowspan-2 {
    grid-row: span 2;
  }
  .grid-rowspan-3 {
    grid-row: span 3;
  }
  .grid-rowspan-4 {
    grid-row: span 4;
  }


.hero {
    //display: flex;
    flex-direction: column;
    //flex-direction: row;
    /* align-items: center; */
    font-family: var(--sans-serif);
    /* margin: 0rem 0 0rem; */
    text-wrap: balance;
    /* text-align: center; */
}

.hero h1 {
    // margin: 1rem 1;
    margin: 0 0;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    background: linear-gradient(90deg, $purple-color, $accent-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0 0.8rem;
}

.hero h2 {
    margin: 0;
    max-width: 34em;
    font-size: 28px;
    font-style: initial;
    font-weight: bold;
    //line-height: 1.5;
    color: $card-title-color;
    padding: 0 0.8rem;
}

.hero h3 {
  // margin: 0.2rem 0;
  max-width: 34em;
  font-size: 24px;
  font-style: initial;
  font-weight: medium;
  line-height: 1;
  color: $card-title-color;
  padding: 0 0.8rem;
}

.hero h4 {
  margin: 0;
  max-width: 34em;
  font-size: 20px;
  font-style: initial;
  font-weight: medium;
  line-height: 1;
  color: $card-title-color;
  //padding: 0 0.8rem;
}

.hero p {
    margin: 0;
    text-align: left;
    /* max-width: 34em; */
    font-size: $body-font-size;
    font-style: initial;
    font-weight: 200;
    line-height: 1.5;
    color: $body-text-color;
    padding: 0 0.8rem;
}

.card-img-top {
    width: 100%;
    height: 24vw;
    object-fit: cover;
    padding-top: 0.8rem;
}

.card-img-left {
  width: 50%;
  height: 20vw;
  object-fit: cover;
}

.card {
    border: 0px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    background-color: $card-color;
    //padding: 0.8rem;
    padding: 0 0.8rem;
    //color: inherit; /* Ensure text color is inherited from parent */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    //border: 0.8px solid $hr-border-color;
    background-color: $hr-border-color;
    text-decoration: none;
}

.card-block {
    padding: 0.4rem 0 0;
}

.card-title {
    margin: 4em 0 0 0;       /* top | right | bottom | left */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    color: $card-title-color;
}

.card-subtitle {
  margin: 0 0 0 0;       /* top | right | bottom | left */
  font-size: 1rem;
  //font-weight: bold;
  padding: 0;
  color: $card-title-color;
}

.card-text {
    //margin: 0.2rem 0;
    font-size: 1rem;
    color: $body-text-color;
}


a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 1rem 2rem;
  }

  @include medium {
    padding: 1rem 2rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    // max-width: 64rem;
    max-width: 100rem;
    min-width: 50rem;
    padding: 1rem 4rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  
  kbd {
    background-color: $background-color;
    // background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  h3,
  h4,
  h5,
  h6
//   h6 {
//     margin-top: 2rem;
//     margin-bottom: 1rem;
//     //color: $section-headings-color;
//   }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 1px;
    padding: 0;
    margin: 2rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}