// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

$accent-color: #15B2B2 !default;
$deep-color: #1e6bb8 !default;
$purple-color: #9CB9FF !default;
$greyish-color: #567482 !default;
$card-title-color: #dce6f0 !default;

// Background
$background-color: #161616 !default;
$card-color: #0D0D0D !default;

// Text
$section-headings-color: #819198 !default;
$body-text-color: #819198 !default;
// $body-text-color: #dce6f0 !default;
$body-link-color: #9CB9FF !default;
// $body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;
// $body-text-color: #606c71 !default;
// $body-link-color: #1e6bb8 !default;
// $blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #606c713e !default;
// $hr-border-color: #eff0f1 !default;