// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

$intro-header-text-size: 56px;

// $accent-color: #15B2B2 !default;
// $accent-color: #3ddbed;
$accent-color: #56eeff;
$deep-color: #1e6bb8 !default;
// $purple-color: #9CB9FF !default;
// $purple-color: #3D25B8;
$purple-color: #00717E;
// $greyish-color: #567482 !default;
$greyish-color: #A1B8F9;
// $card-title-color: #dce6f0 !default;
// $card-title-color: #3D25B8;
$card-title-color: #00717E;

// Background
// $background-color: #161616 !default;
// $background-color: #EBF8FA;
// $background-color: #F5F7FF;
$background-color: #EBF8FA;
// $card-color: #0D0D0D !default;
// $card-color: #F5F7FF;
$card-color: #EBF8FA;

// Text
// $section-headings-color: #819198 !default;
$section-headings-color: #A1B8F9;
// $body-text-color: #819198 !default;
// $body-text-color: #140C3D;
$body-text-color: #003439;
// $body-text-color: #dce6f0 !default;
$body-link-color: #9CB9FF !default;
// $body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;
// $body-text-color: #606c71 !default;
// $body-link-color: #1e6bb8 !default;
// $blockquote-text-color: #819198 !default;
$body-font-size: 16px;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #606c713e !default;
// $hr-border-color: #eff0f1 !default;